# Python virtual environment
.venv/

# Environment variables and secrets
.env

# Python cache files
__pycache__/
*.pyc

# VS Code local settings
.vscode/

# Test/cache folders
.pytest_cache/
.mypy_cache/

# OS files
.DS_Store
Thumbs.db